@charset "utf-8";

#nav1 {
	height: 50px;
	background-color: lightskyblue;
}

#nav2 {
	width: 404px;
	margin: auto auto;
	height: 50px;
	background-color: #898976;
	
}

#nav2>ul {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0px;
	z-index: 9999;
}

#nav2>ul>li {
	float: left;
	width: 100px;
	border-left: 1px solid #f6f6f6;
	text-align: center;
}

#nav2>ul>li:first-child {
	border-left: none;
}

#nav2>ul>li>button {
	display: block;
	border: 0px none;
	margin:0 auto;
	line-height: 50px;
	text-decoration: none;
	background: transparent;
	text-align: center;
	font-family: 微软雅黑, Geneva, sans-serif;
	color: white;
	
}

#nav2>ul>li:hover {
	background-color: #4e4e00;
}

#nav2>ul>li>ul {
	display: none;
	list-style-type: none;
	padding: 0px;
	float: none;
	background-color: #00578a;
}

#nav2>ul>li:hover>ul {
	display: block;
}

#nav2>ul>li>ul>li {
	border-bottom: 1px solid #b8b8b8;
}

#nav2>ul>li>ul>li>button {
	text-decoration: none;
	border: 0px none;
	margin:0 auto;
	display: block;
	line-height: 50px;

	background: transparent;
	text-align: center;
	font-family: 微软雅黑, Geneva, sans-serif;
	color: white;
}

#nav2>ul>li>ul>li>button:hover {
	color: #ebeb00;
	cursor: pointer;
}

/* CSS Document */